.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #0B1641;
    border-radius: 8px;
}

.card-image img {
    width: 380px;
    height: 147px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0;
}

.card-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #0B1641;
    border-radius: 0px 0px 8px 8px;
}

.card-title {
    left: 4.21%;
    right: 26.32%;
    top: 61.35%;
    bottom: 27.49%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.card-price {
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
}

.card-price-original {
    text-align: center;
    color: white;
    text-decoration: line-through;
    margin-top: 5px;
    font-family: 'Roboto';
    font-size: 12px;
}

.card-discount {
    font-size: 18px;
    text-align: right;
    color: white;
    font-family: 'Roboto';
}

.card-details {
    text-align: center;
    padding: 10px;
}

button {
    color: white;
    height: 39px;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 18px;
}

button.details {
    background-color: #C70160;
    max-width : 116px!important;
    cursor: pointer;
}

button.discount {
    background-color: #16857B;
    max-width : 84px!important;
}